/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;   
    text-align: center; 
}

/* color settings */
:root {
    --color-text-default: #232323;
    --backgrouond-color-body: #8C8C8C;
    --background-color-header: #E8E0DA;
    --background-color-products: #8C8C8C;
    --background-color-greeting: #E8E0DA;
    --color-greeting: #FF914D;
    --background-color-footer: #E8E0DA;
    --background-color-addtocart: #AED5B3;
    --background-color-addtocart-hover: #198754;
    --background-color-cart:  #F3EFEC;
    --background-color-shopping-list-header: #d6c361;
    --color-shopping-item: #C7C7C7;
    --color-btn-remove: #E65700;
    --background-color-btn-remove: #D2D2D2;
    --background-color-btn-close-cart: #D2D2D2;
    --background-color-place-order: #AED5B3;
    --background-color-place-order-hover: #198754;
}

/* header */
header {
    color: var(--color-text-default);
    background-color: var(--background-color-header);
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header-container {
    margin: 0rem 5rem;
    min-width: auto;
    max-height: auto;
}

.header-container ul {
    list-style: none;
}

.header-container li {
    display: inline;
}

.header-container a {
    text-decoration: none;
    color: var(--color-text-default);
}

.header-container #logo {
    width: 4.5rem;
    height: 3.5rem;
    color: var(--color-greeting);
    font-weight: bold;
}

.header-container #contact {
    width: 4rem;
    height: 3.5rem;
    font-weight: bold;
}

#shopping-cart {
    display: flex;
    flex-direction: column;
    transform: translate(0, -15%);
}

.fa-shopping-cart {
    width: 2rem;
    margin: 0.5rem 1rem;
    color: var(--color-greeting);
    font-size: 2rem;
}

#item-amount {
    margin-left: 0.5rem;
    transform: translate(0, 70%);
    color: red;
}

/* Main */
main {
    height: 100vh;
    top: 4rem;
    position: relative;
    overflow-y: scroll;
    background-color: var(--backgrouond-color-body);
}
    /* products */
#products {
    position: relative;
    background-color: var(--background-color-products);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
}

#greeting {
    font-size: 2rem;
    text-align: center;
    color: var(--color-text-default);
    background-color: var(--background-color-greeting);
    padding: 0.3rem;
    position: relative;
    top: 1rem;
    width: 100%;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    opacity: 0.9;
}

#greeting span {
    color: var(--color-greeting);
    font-weight: bold;
}

#product-container   {
    padding: 2rem 1rem;
    height: auto;
    overflow-y: scroll;
    background-color: var(--background-color-products);
}

.card {
    opacity: 0.85;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    scale: 1.05;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(240, 198, 15, 0.8);
    opacity: 1;
}

.card-img-top {
    height: 16rem;
    width: auto;
}

.card-title {
    font-size: 1rem;
}

.card .custom-select, .card input {
    font-size: 0.8rem;
}

.custom-select {
    width: calc(60% - 0.5rem);
}

.card-body {
    padding: 0.5rem 1rem;
}

.card input {
    width: calc(60% - 0.5rem);;
}

.add-to-cart-button { 
    padding: 0.2rem 0.4rem;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 0.4rem;
    background-color: var(--background-color-addtocart);
}

.add-to-cart-button:hover {
    background-color:var(--background-color-addtocart-hover) !important;
    color: whitesmoke !important;
    transition: all 0.2s ease-in-out;
    scale: 1.2;
    margin: 0.2rem;
}

    /* cart */
#cart {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem 2rem 2rem;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background-color: var(--background-color-cart);
    min-height: 25vh;
    min-width: 50%;
    text-align: left;
}

#cart-header {
    display: flex;
    justify-content: space-between;
}

#close-cart {
    margin-right: 2.2rem;
    padding: 0rem 0.7rem;
    border-radius: 0.3rem;
    height: 1.8rem;
    font-size: 0.8rem;
    background-color: var(--background-color-btn-close-cart);
}

#shopping-list-header {
    background-color: var(--background-color-shopping-list-header);
    border-radius: 0.2rem;
    padding: 0.3rem 0;
}

.shopping-item {
    padding: 0.3rem 0;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;    
    border-bottom: 1px solid var(--color-shopping-item);
}

.input-item-quantity {
    background-color: var(--background-color-cart);
    width: 100%;
}

.btn-remove {
    padding: 0rem 0.6rem;
    font-size: 0.8rem;
    color: var(--color-btn-remove);
    background-color: var(--background-color-btn-remove);
    border-radius: 0.3rem; 
}

.btn-remove:hover {
    color: whitesmoke;
    background-color: red;
}

#digimart-place-order {
    padding: 0rem 0.2rem;
    font-size: 0.8rem;   
    color: var(--color-text-default);
    background-color: var(--background-color-place-order);
    border-radius: 0.3rem; 
}

#digimart-place-order:hover {
    color: whitesmoke;
    background-color: var(--background-color-place-order-hover);
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    color: var(--color-text-default);
    background-color: var(--background-color-footer);
}

footer ul {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-footer);
    padding: 10px 5px;
    margin-bottom: 0em;
}

footer li {
    display: inline-block;
    list-style: none;
    color: var(--color-text-default);
    font-size: small;
    letter-spacing: 1px;
    margin: 0 0.5rem;
}

#digitmart-dot-com {
    color: var(--color-greeting);
    font-weight: bold;
}