/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;   
    text-align: center; 
}

/* color settings */
:root {
    --color-text-default: #232323;
    --backgrouond-color-body: #5776a8;
    --background-color-header: #a88957;
    --background-color-products: #aebdd5;
    --background-color-greeting: #a88957;
    --background-color-cart:  #D5C6AE;
    --background-color-footer: #a88957;
    --background-color-addtocart: #AED5B3;
    --background-color-addtocart-hover: #198754;
}

/* header */
header {
    color: var(--color-text-default);
    background-color: var(--background-color-header);
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header-container {
    margin: 0rem 5rem;
    min-width: auto;
    max-height: auto;
}

.header-container ul {
    list-style: none;
}

.header-container li {
    display: inline;
}

.header-container a {
    text-decoration: none;
    color: var(--color-text-default);
}

.header-container #logo {
    width: 4.5rem;
    height: 3.5rem;
}

.header-container #contact {
    width: 4rem;
    height: 3.5rem;
}

/* Main */
main {
    height: 100vh;
    top: 4rem;
    position: relative;
}
    /* products */
#products {
    position: relative;
    background-color: var(--background-color-products);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
}

#greeting {
    font-size: 2rem;
    text-align: center;
    color: var(--color-text-default);
    background-color: var(--background-color-greeting);
    padding: 0.5rem;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);    
    width: 100%;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    opacity: 0.9;
}

#greeting span {
    color: whitesmoke;
}

#products-container {
    position: relative;
    margin: 2rem 1rem 1rem 1rem;
}

#product-container {
    display: flex;
    padding: 2rem;
    height: 50vh;
    overflow-y: scroll;
    background-color: var(--background-color-products);
}

.card {
    opacity: 0.85;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    scale: 1.2;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(240, 198, 15, 0.8);
    margin: 0.5rem;   
    opacity: 1;
}

.card-img-top {
    height: 16rem;
    width: auto;
}

.card-title {
    font-size: 1rem;
}

.card .custom-select, .card input {
    font-size: 0.8rem;
}

.custom-select {
    width: calc(60% - 0.5rem);
}

.card-body {
    padding: 0.5rem 1rem;
}

.card input {
    width: calc(60% - 0.5rem);;
}

.add-to-cart-button { 
    padding: 0.2rem 0.4rem;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 0.4rem;
    background-color: var(--background-color-addtocart);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.add-to-cart-button:hover {
    --background-color-addtocart: #AED5B3;
    background-color:var(--background-color-addtocart-hover) !important;
    color: whitesmoke !important;
    transition: all 0.2s ease-in-out;
    scale: 1.2;
    margin: 0.2rem;
}



    /* cart */
#cart {
    position: relative;
    background-color: var(--background-color-cart);
    height: 40vh;
    text-align: left;
}

/* footer */
footer ul {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-footer);
    padding: 10px 5px;
    margin-bottom: 0em;
}

footer li {
    display: inline-block;
    list-style: none;
    color: var(--color-text-default);
    font-size: small;
    letter-spacing: 1px;
    margin: 0 0.5rem;
}